Flask
flask-cors
pdfplumber
PyPDF2
pytesseract
pillow
transformers
torch
sentence-transformers
textstat
groq
huggingface_hub
python-dotenv
sentencepiece
requests
assemblyai
deep-translator
gtts
moviepy
timm
einops
spacy
pinecone>=5.0.0
tiktoken
